[Sddm Greeter]
Name=netwatch
Description=NETWATCH — Cyberpunk lock screen theme for SDDM
Copyright=ARCANGEL0
GreeterThemeDir=.
Theme=i18n
Authors=ARCANGEL0
Screen=0
Type=Seal
Wallpaper=
ConfigFile=theme.conf
Version=0.1.0
License=MIT
Website=https://github.com/ARCANGEL0/CyberArch-Dotfiles
